@model TCK_Off_Fac.Models.Master_Item

@{
    Layout = null;
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormPrinBar</title>
</head>
<body class="">
    <table style="width:100%;" class="Form1">

        <tr>
            <td style="width:50%;text-align:center;">
                <img src="@Url.Action("RenderBarcode",new {id = Html.DisplayFor(model => model.Barcode) })" width="600" height="80" />
                <a style="font-size:36px"> Barcode : @Html.DisplayFor(model => model.Barcode) </a><br />

            </td>
        </tr>

    </table>
</body>
</html>
