@{
    ViewBag.Title = "Overview";
}
@Scripts.Render("~/Warehouse/js")

<script src="~/Content/js/dialog/sweetalert2.min.js"></script>
<script src="~/Content/js/animation/animation-active.js"></script>
<link rel="stylesheet" href="~/Content/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/css/animate.css" />
<link rel="stylesheet" href="~/Content/css/animation/animation-custom.css" />
<link rel="stylesheet" href="~/Content/css/dialog/sweetalert2.min.css">
<link rel="stylesheet" href="~/Content/css/dialog/dialog.css">
<div class="data-table-area">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="data-table-list">
                <div class="basic-tb-hd" style="text-align:center">
                    <h2>รายการแสดงครุภัณฑ์ทั้งหมด</h2>
                    <p>ข้อมูลแสดงรายการครุภัณฑ์คงคลังทั้งหมด </p>
                </div>
                <div class="table-responsive">
                    <table id="AllWH" class="table table-striped">
                        <thead>
                            <tr>
                                <th>หมายเลขครุภัณฑ์</th>
                                <th>ชื่อครุภัณฑ์</th>
                                <th>ประเภทครุภัณฑ์</th>
                                <th>สถานที่จัดเก็บ</th>
                                <th>แผนกเจ้าของครุภัณฑ์</th>
                                <th>จำนวนครุภัณฑ์</th>
                                <th>ใช้ได้</th>
                                <th>รูปภาพ</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>หมายเลขครุภัณฑ์</th>
                                <th>ชื่อครุภัณฑ์</th>
                                <th>ประเภทครุภัณฑ์</th>
                                <th>สถานที่จัดเก็บ</th>
                                <th>แผนกเจ้าของครุภัณฑ์</th>
                                <th>จำนวนครุภัณฑ์</th>
                                <th>ใช้ได้</th>
                                <th>รูปภาพ</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
