@{
    ViewBag.Title = "Home Page";

}
@Scripts.Render("~/Home/js")
<body>
    <div class="row">
        <div class="" style="text-align:center">
            <h3 id="Key" style="color:#FF0000">TCK Off Facility: ระบบจัดการครุภัณฑ์</h3>

        </div>
    </div>

</body>
